Repository nilscodes/reach-your-people: changes, and which GitLab CI jobs are due for each by the changed paths.
All: gradle-build, core-verification-docker, core-subscription-docker, core-publishing-docker, integration-discord-docker

Path conditions:
  gradle-build: any of: core-verification/**/*, core-subscription/**/*, core-publishing/**/*, build.gradle.kts, settings.gradle.kts, .gitlab-ci.yml
  core-verification-docker: any of: core-verification/**/*, build.gradle.kts, settings.gradle.kts, .gitlab-ci.yml
  core-subscription-docker: any of: core-subscription/**/*, build.gradle.kts, settings.gradle.kts, .gitlab-ci.yml
  core-publishing-docker: any of: core-publishing/**/*, build.gradle.kts, settings.gradle.kts, .gitlab-ci.yml
  integration-discord-docker: any of: integrations/discord/**/*, .gitlab-ci.yml

RYP-132 Ensuring that the core points service has the right default settings for the postgres DB
  docker-compose.yml
  example/demo-site/src/pages/api/account/settings/firststeps.ts
Due: none

RYP-134 Ensuring when adding the first notification-enabled account, that it...
  example/demo-site/src/lib/core-subscription-api.ts
  example/demo-site/src/lib/providerutil.ts
  example/demo-site/src/pages/api/auth/[...nextauth].ts
Due: none

RYP-135 Preventing creation of duplicate external accounts when the same type...
  example/demo-site/src/pages/api/auth/[...nextauth].ts
Due: none

RYP-137 Added achievements page and clarified wording for all giveaway references.
  example/demo-site/locales/en/accounts.json
  example/demo-site/src/components/AccountsPage.tsx
  example/demo-site/src/components/account/AchievementBlock.tsx
  example/demo-site/src/components/account/Achievements.tsx
  example/demo-site/src/lib/achievements.ts
  example/demo-site/src/lib/api.ts
  example/demo-site/src/lib/types/Achievement.ts
  example/demo-site/src/pages/account/achievements/index.tsx
  example/demo-site/src/pages/api/account/achievements/index.tsx
Due: none

RYP-136 Improved login page titles and fixed display bug with achievements on mobile.
  example/demo-site/src/components/account/AchievementBlock.tsx
  example/demo-site/src/components/filters/VerifiedPickerButton.tsx
  example/demo-site/src/components/login/CardanoLoginPage.tsx
  example/demo-site/src/components/login/LoginPage.tsx
  example/demo-site/src/pages/login/cardano/index.tsx
  example/demo-site/src/pages/login/index.tsx
Due: none

RYP-138 Initial UI to trigger tests and changes to database structure to...
  core-api/src/main/kotlin/io/ryp/shared/model/BasicAnnouncementDto.kt
  core-api/src/main/kotlin/io/ryp/shared/model/LinkedExternalAccountDto.kt
  core-publishing/src/main/kotlin/io/vibrantnet/ryp/core/publishing/controller/AccountsApiController.kt
  core-publishing/src/main/kotlin/io/vibrantnet/ryp/core/publishing/controller/AnnouncementsApiController.kt
  core-publishing/src/main/kotlin/io/vibrantnet/ryp/core/publishing/controller/ProjectsApiController.kt
  core-publishing/src/main/kotlin/io/vibrantnet/ryp/core/publishing/service/AccountsApiService.kt
  core-publishing/src/main/kotlin/io/vibrantnet/ryp/core/publishing/service/AccountsApiServiceVibrant.kt
  core-publishing/src/main/kotlin/io/vibrantnet/ryp/core/publishing/service/AnnouncementsApiService.kt
  core-publishing/src/main/kotlin/io/vibrantnet/ryp/core/publishing/service/AnnouncementsApiServiceVibrant.kt
  core-subscription/src/main/kotlin/io/vibrantnet/ryp/core/subscription/persistence/ExternalAccount.kt
  core-subscription/src/main/kotlin/io/vibrantnet/ryp/core/subscription/persistence/LinkedExternalAccount.kt
  core-subscription/src/main/kotlin/io/vibrantnet/ryp/core/subscription/service/AccountsApiServiceVibrant.kt
  core-subscription/src/main/resources/schema-postgres.sql
  docs/api/common-schemas.yaml
  docs/api/core-publishing-service.yaml
  example/demo-site/locales/en/accounts.json
  example/demo-site/src/components/LinkedAccount.tsx
  example/demo-site/src/components/linkedaccounts/TestNotificationModal.tsx
  example/demo-site/src/components/linkedaccounts/discordSteps.tsx
  example/demo-site/src/components/linkedaccounts/pushapiSteps.tsx
  example/demo-site/src/components/stepper/Step.tsx
  example/demo-site/src/components/stepper/StepCircle.tsx
  example/demo-site/src/components/stepper/StepContext.tsx
  example/demo-site/src/components/stepper/useStep.tsx
  example/demo-site/src/components/wallets/WalletSettingsList.tsx
  example/demo-site/src/lib/api.ts
  example/demo-site/src/lib/ryp-publishing-api/api.ts
  example/demo-site/src/lib/ryp-subscription-api/api.ts
  example/demo-site/src/lib/types/TestStatus.ts
  example/demo-site/src/pages/announcements/[announcementId].tsx
  example/demo-site/src/pages/api/account/externalaccounts/[externalAccountId]/test.ts
  example/demo-site/src/pages/api/auth/[...nextauth].ts
  integrations/webpush/src/index.ts
Due: gradle-build, core-subscription-docker, core-publishing-docker

RYP-138 Added clearer instructions for getting Discord notifications enabled.
  example/demo-site/locales/en/accounts.json
  example/demo-site/public/discord-steps.jpg
  example/demo-site/src/components/Header.tsx
  example/demo-site/src/components/linkedaccounts/discordSteps.tsx
Due: none

Resolve RYP-138 "Feature/ allow users to test their notifications"
  example/demo-site/locales/en/accounts.json
  example/demo-site/package-lock.json
  example/demo-site/package.json
  example/demo-site/src/auth.ts
  example/demo-site/src/components/WalletLogin.tsx
  example/demo-site/src/components/login/CardanoLoginPage.tsx
  example/demo-site/src/lib/api.ts
  example/demo-site/src/lib/cardano.ts
  example/demo-site/src/pages/api/wallets/verify.ts
Due: none

RYP-138 Finalized HW wallets by consolidating code and fixing bug on accounts page.
  example/demo-site/src/components/LinkedAccounts.tsx
  example/demo-site/src/components/login/CardanoHardwareLogin.tsx
  example/demo-site/src/components/login/CardanoLogin.ts
  example/demo-site/src/components/login/CardanoLoginPage.tsx
Due: none

RYP-140 Added SEO improvements and corrected names and titles for Twitter cards
  example/demo-site/src/pages/_document.tsx
Due: none

RYP-141 Added Catalyst Banner for Fund 12
  example/demo-site/src/components/Header.tsx
  example/demo-site/src/components/timer/CatalystBanner.tsx
Due: none

Resolve RYP-26 "Task/ unit test coverage is kept up"
  core-publishing/build.gradle.kts
  core-publishing/src/main/kotlin/io/vibrantnet/ryp/core/publishing/persistence/AnnouncementsUpdateService.kt
  core-publishing/src/main/kotlin/io/vibrantnet/ryp/core/publishing/service/AccountsApiServiceVibrant.kt
  core-publishing/src/main/kotlin/io/vibrantnet/ryp/core/publishing/service/AnnouncementsApiServiceVibrant.kt
  core-publishing/src/main/kotlin/io/vibrantnet/ryp/core/publishing/service/StatisticsServiceVibrant.kt
  core-publishing/src/test/kotlin/io/vibrantnet/ryp/core/publishing/controller/AccountsApiControllerIntegrationTest.kt
  core-publishing/src/test/kotlin/io/vibrantnet/ryp/core/publishing/controller/AnnouncementsApiControllerIntegrationTest.kt
  core-publishing/src/test/kotlin/io/vibrantnet/ryp/core/publishing/controller/ProjectsApiControllerIntegrationTest.kt
  core-publishing/src/test/kotlin/io/vibrantnet/ryp/core/publishing/service/AccountsApiServiceVibrantTest.kt
  core-publishing/src/test/kotlin/io/vibrantnet/ryp/core/publishing/service/AnnouncementsApiServiceVibrantTest.kt
  core-publishing/src/test/kotlin/io/vibrantnet/ryp/core/publishing/service/RedirectServiceVibrantTest.kt
  core-publishing/src/test/kotlin/io/vibrantnet/ryp/core/publishing/service/StatisticsServiceVibrantTest.kt
  core-publishing/src/test/kotlin/io/vibrantnet/ryp/core/publishing/service/SubscriptionServiceVibrantTest.kt
  core-publishing/src/test/kotlin/io/vibrantnet/ryp/core/publishing/service/VerifyServiceVibrantTest.kt
Due: gradle-build, core-publishing-docker

RYP-26 Final stages of test coverage, missing tests and adding coverage for the vibrant integration
  core-api/src/main/kotlin/io/ryp/shared/model/ProjectDto.kt
  core-subscription/src/test/kotlin/io/vibrantnet/ryp/core/subscription/service/ExternalAccountsApiServiceVibrantTest.kt
  core-subscription/src/test/kotlin/io/vibrantnet/ryp/core/subscription/service/ProjectsApiServiceVibrantTest.kt
  integrations/vibrant/build.gradle.kts
  integrations/vibrant/src/test/kotlin/io/vibrantnet/ryp/vibrant/TestSecurityConfiguration.kt
  integrations/vibrant/src/test/kotlin/io/vibrantnet/ryp/vibrant/TestUtils.kt
  integrations/vibrant/src/test/kotlin/io/vibrantnet/ryp/vibrant/controller/VibrantVerificationsControllerIntegrationTest.kt
  integrations/vibrant/src/test/kotlin/io/vibrantnet/ryp/vibrant/service/VibrantCommunityServiceTest.kt
  integrations/vibrant/src/test/resources/sample-json/get-verifications-for-user.json
  integrations/vibrant/src/test/resources/sample-json/test-get-external-account-by-discord-id.json
  integrations/vibrant/src/test/resources/sample-json/test-get-verifications-for-discord-id.json
Due: gradle-build, core-subscription-docker

RYP-28 Starting to add dependency scans for gradle and npm
  .gitlab-ci.yml
  build.gradle.kts
  integrations/discord/.audit-ci.json
  integrations/discord/.gitlab-ci-discord.yml
  integrations/discord/package-lock.json
  integrations/discord/package.json
  integrations/discord/src/index.ts
  integrations/twilio/.audit-ci.json
  integrations/twilio/.gitlab-ci-twilio.yml
  integrations/twilio/package-lock.json
  integrations/twilio/package.json
  integrations/vibrant/build.gradle.kts
  integrations/webpush/.audit-ci.json
  integrations/webpush/.gitlab-ci-webpush.yml
  integrations/webpush/package-lock.json
  integrations/webpush/package.json
Due: gradle-build, core-verification-docker, core-subscription-docker, core-publishing-docker, integration-discord-docker

RYP-26 Added an important test case to the redirect service for automatic generation of shortcodes
  core-redirect/src/test/kotlin/io/vibrantnet/ryp/core/redirect/service/UrlsApiServiceVibrantTest.kt
Due: none

RYP-145 Removed catalyst banner and added how it works section on landing page
  .gitlab-ci.yml
  example/demo-site/locales/en/common.json
  example/demo-site/src/components/Header.tsx
  example/demo-site/src/components/landing/HowItWorks.tsx
  example/demo-site/src/pages/index.tsx
Due: gradle-build, core-verification-docker, core-subscription-docker, core-publishing-docker, integration-discord-docker

RYP-147 Allow viewing associated stakepool or pools on the project website, as well as verification status, name and ticker.
  core-api/src/main/kotlin/io/ryp/shared/model/ProjectDto.kt
  core-subscription/src/main/kotlin/io/vibrantnet/ryp/core/subscription/persistence/Stakepool.kt
  core-subscription/src/main/resources/schema-postgres.sql
  core-subscription/src/test/kotlin/io/vibrantnet/ryp/core/subscription/persistence/StakepoolTest.kt
  example/demo-site/locales/en/projects.json
  example/demo-site/src/components/subscriptions/ProjectPage.tsx
  example/demo-site/src/components/subscriptions/ProjectStakepools.tsx
Due: gradle-build, core-subscription-docker

RYP-149 Allow publishing without beta signup for stakepools.
  example/demo-site/src/pages/publish/[projectid]/publish.tsx
Due: none

RYP-150 Allowing logins with X / Twitter
  example/demo-site/locales/en/common.json
  example/demo-site/src/components/LinkedAccount.tsx
  example/demo-site/src/components/ProviderIcons.tsx
  example/demo-site/src/lib/providerutil.ts
  example/demo-site/src/pages/api/account/settings/firststeps.ts
Due: none

RYP-152 Verifying google still works as a nextauth login mechanism and added missing translation variables
  .gitlab-ci.yml
  example/demo-site/locales/en/common.json
  example/demo-site/src/components/LinkedAccount.tsx
  example/demo-site/src/lib/core-subscription-api.ts
Due: gradle-build, core-verification-docker, core-subscription-docker, core-publishing-docker, integration-discord-docker

RYP-153 Added support for login via email and registration via email magic link
  example/demo-site/locales/en/accounts.json
  example/demo-site/locales/en/common.json
  example/demo-site/package-lock.json
  example/demo-site/package.json
  example/demo-site/src/auth.ts
  example/demo-site/src/components/LinkedAccount.tsx
  example/demo-site/src/components/LinkedAccounts.tsx
  example/demo-site/src/components/ProviderIcons.tsx
  example/demo-site/src/components/header/ProfileMenu.tsx
  example/demo-site/src/components/login/CardanoLoginPage.tsx
  example/demo-site/src/components/login/EmailLogin.tsx
  example/demo-site/src/components/login/EmailLoginPage.tsx
  example/demo-site/src/components/login/LoginPage.tsx
  example/demo-site/src/components/login/WalletLogin.tsx
  example/demo-site/src/pages/api/auth/[...nextauth].ts
  example/demo-site/src/pages/api/projects/index.ts
  example/demo-site/src/pages/login/mail/index.tsx
Due: none

Resolve RYP-158 "Task/ update website with omen raffle"
  example/demo-site/src/components/timer/SpacebudzTimer.tsx
Due: none

RYP-158 Fixed build-success preventing capitalization issue.
  example/demo-site/src/pages/login/mail/index.tsx
Due: none

RYP-156 Fixed TX submission bug
  example/demo-site/src/components/account/PaymentModal.tsx
Due: none

RYP-156 Fixed bug with minimum received amount needing to be higher than requested amount
  example/demo-site/src/components/account/PaymentWaiting.tsx
Due: none

RYP-154 Fixing production docker file to have templates in the right location.
  integrations/sendgrid/Dockerfile
Due: none

RYP-160 Added redirects and local links to terms/privacy policy pages
  example/demo-site/src/components/footer/Footer.tsx
  example/demo-site/src/components/phone/PhoneNumberInput.tsx
  example/demo-site/src/pages/legal/privacypolicy.tsx
  example/demo-site/src/pages/legal/terms.tsx
Due: none

RYP-161 Added creating a project to the first steps guide
  example/demo-site/locales/en/accounts.json
  example/demo-site/locales/en/publish.json
  example/demo-site/src/components/account/FirstSteps.tsx
  example/demo-site/src/components/projects/ProjectsHomepage.tsx
  example/demo-site/src/lib/types/FirstSteps.ts
  example/demo-site/src/pages/api/account/settings/firststeps.ts
Due: none

RYP-161 Fixed issue where projects would not load after creation due to testing
  example/demo-site/src/components/projects/ProjectsHomepage.tsx
Due: none

RYP-162 Improved various UI for project creation
  core-api/src/main/kotlin/io/ryp/shared/model/ProjectDto.kt
  core-verification/src/main/kotlin/io/vibrantnet/ryp/core/verification/CoreVerificationConfiguration.kt
  docs/api/common-schemas.yaml
  example/demo-site/locales/en/publish.json
  example/demo-site/src/components/account/ReferralLink.tsx
  example/demo-site/src/components/projects/NFTConfiguration.tsx
  example/demo-site/src/components/projects/PublishAnnouncementForm.tsx
  example/demo-site/src/components/projects/StakepoolConfiguration.tsx
  example/demo-site/src/components/wallets/WalletsSettings.tsx
  example/demo-site/src/pages/api/projects/index.ts
Due: gradle-build, core-verification-docker

RYP-163 Added help navigation item that goes to public documentation.
  example/demo-site/locales/en/common.json
  example/demo-site/src/components/Header.tsx
Due: none

Resolve RYP-165 "Feature/ send notifications to telegram"
  .gitlab-ci.yml
  core-publishing/src/main/kotlin/io/vibrantnet/ryp/core/publishing/configuration/RabbitConfig.kt
  core-publishing/src/main/kotlin/io/vibrantnet/ryp/core/publishing/service/StatisticsServiceVibrant.kt
  docker-compose.dev.yml
  docker-compose.prod.yml
  docker-compose.yml
  example/demo-site/locales/en/accounts.json
  example/demo-site/package-lock.json
  example/demo-site/package.json
  example/demo-site/src/auth.ts
  example/demo-site/src/components/LinkedAccounts.tsx
  example/demo-site/src/components/ProviderIcons.tsx
  example/demo-site/src/components/linkedaccounts/TestNotificationModal.tsx
  example/demo-site/src/components/linkedaccounts/telegramSteps.tsx
  example/demo-site/src/components/login/LoginPage.tsx
  example/demo-site/src/components/login/TelegramLogin.tsx
  example/demo-site/src/components/login/TelegramLoginPage.tsx
  example/demo-site/src/lib/types/ProviderInfo.ts
  example/demo-site/src/pages/api/auth/[...nextauth].ts
  example/demo-site/src/pages/login/telegram/index.tsx
  integrations/telegram/.audit-ci.json
  integrations/telegram/.gitignore
  integrations/telegram/.gitlab-ci-telegram.yml
  integrations/telegram/Dockerfile
  integrations/telegram/package-lock.json
  integrations/telegram/package.json
  integrations/telegram/src/index.ts
  integrations/telegram/src/markdownTools.ts
  integrations/telegram/tsconfig.json
Due: gradle-build, core-verification-docker, core-subscription-docker, core-publishing-docker, integration-discord-docker
