Repository nilscodes/reach-your-people: changes, and which GitLab CI jobs are due for each by the changed paths.
All: gradle-build, core-verification-docker, core-subscription-docker, core-publishing-docker, integration-discord-docker

Path conditions:
  gradle-build: any of: core-verification/**/*, core-subscription/**/*, core-publishing/**/*, build.gradle.kts, settings.gradle.kts, .gitlab-ci.yml
  core-verification-docker: any of: core-verification/**/*, build.gradle.kts, settings.gradle.kts, .gitlab-ci.yml
  core-subscription-docker: any of: core-subscription/**/*, build.gradle.kts, settings.gradle.kts, .gitlab-ci.yml
  core-publishing-docker: any of: core-publishing/**/*, build.gradle.kts, settings.gradle.kts, .gitlab-ci.yml
  integration-discord-docker: any of: integrations/discord/**/*, .gitlab-ci.yml

RYP-106 Added support to store announcements in a document database
  core-publishing/build.gradle.kts
  core-publishing/src/main/kotlin/io/vibrantnet/ryp/core/publishing/CorePublishingApplication.kt
  core-publishing/src/main/kotlin/io/vibrantnet/ryp/core/publishing/configuration/MongoConfig.kt
  core-publishing/src/main/kotlin/io/vibrantnet/ryp/core/publishing/controller/AnnouncementsApiController.kt
  core-publishing/src/main/kotlin/io/vibrantnet/ryp/core/publishing/model/ActivityStreams.kt
  core-publishing/src/main/kotlin/io/vibrantnet/ryp/core/publishing/model/AnnouncementDto.kt
  core-publishing/src/main/kotlin/io/vibrantnet/ryp/core/publishing/persistence/Announcement.kt
  core-publishing/src/main/kotlin/io/vibrantnet/ryp/core/publishing/persistence/AnnouncementsRepository.kt
  core-publishing/src/main/kotlin/io/vibrantnet/ryp/core/publishing/persistence/AnnouncementsUpdateService.kt
  core-publishing/src/main/kotlin/io/vibrantnet/ryp/core/publishing/service/AnnouncementsApiService.kt
  core-publishing/src/main/kotlin/io/vibrantnet/ryp/core/publishing/service/AnnouncementsApiServiceVibrant.kt
  docker-compose.dev.yml
  docker-compose.prod.yml
  docker-compose.yml
  docs/api/common-schemas.yaml
  docs/api/core-publishing-service.yaml
  example/demo-site/src/lib/ryp-publishing-api/api.ts
Due: gradle-build, core-publishing-docker

RYP-107 Started to provide API to view announcements by ID.
  build.gradle.kts
  core-publishing/src/main/kotlin/io/vibrantnet/ryp/core/publishing/configuration/MongoConfig.kt
  core-publishing/src/main/kotlin/io/vibrantnet/ryp/core/publishing/controller/AnnouncementsApiController.kt
  core-publishing/src/main/kotlin/io/vibrantnet/ryp/core/publishing/model/ActivityStreams.kt
  core-publishing/src/main/kotlin/io/vibrantnet/ryp/core/publishing/model/AnnouncementDto.kt
  core-publishing/src/main/kotlin/io/vibrantnet/ryp/core/publishing/persistence/AnnouncementsRepository.kt
  core-publishing/src/main/kotlin/io/vibrantnet/ryp/core/publishing/service/AnnouncementsApiService.kt
  core-publishing/src/main/kotlin/io/vibrantnet/ryp/core/publishing/service/AnnouncementsApiServiceVibrant.kt
  docs/api/core-publishing-service.yaml
  example/demo-site/i18n.json
  example/demo-site/locales/en/projects.json
  example/demo-site/src/components/announcements/ViewAnnouncement.tsx
  example/demo-site/src/components/chakraMarkdownComponents.tsx
  example/demo-site/src/components/projects/PublishAnnouncementForm.tsx
  example/demo-site/src/lib/ryp-publishing-api/api.ts
  example/demo-site/src/lib/ryp-subscription-api/api.ts
  example/demo-site/src/pages/announcements/[announcementId].tsx
  example/demo-site/src/pages/api/announcements/[announcementid].ts
  example/demo-site/src/pages/api/projects/[projectid]/index.ts
Due: gradle-build, core-verification-docker, core-subscription-docker, core-publishing-docker

RYP-111 Added container build logic and docker compose information for Twilio service.
  .gitlab-ci.yml
  docker-compose.dev.yml
  docker-compose.prod.yml
  docker-compose.yml
Due: gradle-build, core-verification-docker, core-subscription-docker, core-publishing-docker, integration-discord-docker

RYP-112 Added loading state for verification button and slightly changed wording
  example/demo-site/locales/en/accounts.json
  example/demo-site/src/components/phone/PhoneVerification.tsx
  example/demo-site/src/components/phone/VerificationCodeInput.tsx
Due: none

RYP-115 Setting default mongo hostname in publishing app to mongo
  core-publishing/src/main/resources/application.properties
Due: gradle-build, core-publishing-docker

RYP-115 Reactive configuration was still hardcoded for both mongo database name and connection client
  core-publishing/src/main/kotlin/io/vibrantnet/ryp/core/publishing/configuration/MongoConfig.kt
Due: gradle-build, core-publishing-docker

RYP-116 Updated website to have terms and privacy info in the footer, as well as support links etc.
  example/demo-site/locales/en/accounts.json
  example/demo-site/src/components/footer/Copyright.tsx
  example/demo-site/src/components/footer/Footer.tsx
  example/demo-site/src/components/footer/SocialMediaLinks.tsx
  example/demo-site/src/pages/_app.tsx
Due: none

RYP-110 Added initial vibrant extension that uses Vibrant Auth to proxy...
  example/demo-site/package-lock.json
  example/demo-site/package.json
Due: none

RYP-110 Fixed broken website build due to missing components
  example/demo-site/src/pages/dashboard/vibrantimport/index.tsx
Due: none

RYP-118 Fixed bug where a lack of subquery on the subscription list prevented default subscriptions
  core-subscription/src/main/kotlin/io/vibrantnet/ryp/core/subscription/persistence/ExternalAccountCustomRepository.kt
  core-subscription/src/main/kotlin/io/vibrantnet/ryp/core/subscription/persistence/ExternalAccountRepository.kt
  core-subscription/src/main/kotlin/io/vibrantnet/ryp/core/subscription/service/ProjectsApiServiceVibrant.kt
  core-subscription/src/main/kotlin/io/vibrantnet/ryp/core/subscription/service/SubscriptionServiceVibrant.kt
Due: gradle-build, core-subscription-docker

RYP-108 Improved architecture diagram to contain missing services and clarify some service roles.
  docs/diagrams/architecture.md
Due: none

RYP-121 Added frontend UI to add multiple policy IDs
  .gitlab-ci.yml
  example/demo-site/locales/en/common.json
  example/demo-site/locales/en/projects.json
  example/demo-site/package-lock.json
  example/demo-site/package.json
  example/demo-site/src/components/RadioCardGroup.tsx
  example/demo-site/src/components/projects/NFTConfiguration.tsx
  example/demo-site/src/components/projects/NewProject.tsx
  example/demo-site/src/components/projects/ProjectConfiguration.tsx
  example/demo-site/src/components/projects/ProjectTypeSelection.tsx
Due: gradle-build, core-verification-docker, core-subscription-docker, core-publishing-docker, integration-discord-docker

RYP-119 Added backend support for linked external account settings
  core-api/src/main/kotlin/io/ryp/shared/model/LinkedExternalAccountDto.kt
  core-subscription/src/main/kotlin/io/vibrantnet/ryp/core/subscription/controller/AccountsApiController.kt
  core-subscription/src/main/kotlin/io/vibrantnet/ryp/core/subscription/controller/ApiExceptionHandler.kt
  core-subscription/src/main/kotlin/io/vibrantnet/ryp/core/subscription/model/ApiExceptions.kt
  core-subscription/src/main/kotlin/io/vibrantnet/ryp/core/subscription/persistence/Account.kt
  core-subscription/src/main/kotlin/io/vibrantnet/ryp/core/subscription/persistence/LinkedExternalAccount.kt
  core-subscription/src/main/kotlin/io/vibrantnet/ryp/core/subscription/persistence/LinkedExternalAccountRepository.kt
  core-subscription/src/main/kotlin/io/vibrantnet/ryp/core/subscription/service/AccountsApiService.kt
  core-subscription/src/main/kotlin/io/vibrantnet/ryp/core/subscription/service/AccountsApiServiceVibrant.kt
  core-subscription/src/main/resources/schema-postgres.sql
  core-subscription/src/test/kotlin/io/vibrantnet/ryp/core/subscription/controller/AccountsApiControllerIntegrationTest.kt
  core-subscription/src/test/kotlin/io/vibrantnet/ryp/core/subscription/controller/ApiExceptionHandlerTest.kt
  core-subscription/src/test/kotlin/io/vibrantnet/ryp/core/subscription/persistence/LinkedExternalAccountTest.kt
  core-subscription/src/test/kotlin/io/vibrantnet/ryp/core/subscription/service/AccountsApiServiceVibrantTest.kt
  docs/api/common-schemas.yaml
  docs/api/core-subscription-service.yaml
  example/demo-site/src/components/wallets/WalletSettingsForm.tsx
  example/demo-site/src/components/wallets/WalletsSettings.tsx
  example/demo-site/src/lib/api.ts
  example/demo-site/src/lib/ryp-subscription-api/api.ts
  example/demo-site/src/pages/api/account/externalaccounts/[externalAccountId]/settings.ts
Due: gradle-build, core-subscription-docker

RYP-122 Added clearer opt-in text and requiring checkbox for text message opt-in
  example/demo-site/locales/en/accounts.json
  example/demo-site/locales/en/common.json
  example/demo-site/src/components/AccessDenied.tsx
  example/demo-site/src/components/phone/PhoneNumberInput.tsx
  example/demo-site/src/components/phone/PhoneVerification.tsx
  example/demo-site/src/components/projects/NFTConfiguration.tsx
  example/demo-site/src/lib/nav.ts
  example/demo-site/src/pages/dashboard/index.tsx
  example/demo-site/src/pages/projects/[projectid]/publish.tsx
  example/demo-site/src/pages/projects/index.tsx
  example/demo-site/src/pages/projects/new.tsx
  example/demo-site/src/pages/subscriptions/index.tsx
  example/demo-site/src/pages/wallets/index.tsx
Due: none

RYP-123 Securing Redis and Mongo with passwords so they can safely be used in dev and prod environments
  core-publishing/Dockerfile
  core-publishing/src/main/resources/application.properties
  core-subscription/Dockerfile
  core-verification/Dockerfile
  docker-compose.dev.yml
  docker-compose.prod.yml
  docker-compose.yml
  example/docker/redis.conf
Due: gradle-build, core-verification-docker, core-subscription-docker, core-publishing-docker

RYP-120 Added support for uploading pictures to an AWS blob storage and displaying them from a CloudFront CDN
  core-api/src/main/kotlin/io/ryp/shared/model/ProjectDto.kt
  core-subscription/src/main/kotlin/io/vibrantnet/ryp/core/subscription/controller/ProjectsApiController.kt
  core-subscription/src/main/kotlin/io/vibrantnet/ryp/core/subscription/service/ProjectsApiService.kt
  core-subscription/src/main/kotlin/io/vibrantnet/ryp/core/subscription/service/ProjectsApiServiceVibrant.kt
  docs/api/common-schemas.yaml
  docs/api/core-subscription-service.yaml
  example/demo-site/locales/en/common.json
  example/demo-site/locales/en/projects.json
  example/demo-site/package-lock.json
  example/demo-site/package.json
  example/demo-site/src/components/Dropzone.tsx
  example/demo-site/src/components/projectcard/ProjectCard.tsx
  example/demo-site/src/components/projects/NFTConfiguration.tsx
  example/demo-site/src/components/projects/NewProject.tsx
  example/demo-site/src/components/projects/ProjectCard.tsx
  example/demo-site/src/components/projects/ProjectConfiguration.tsx
  example/demo-site/src/lib/api.ts
  example/demo-site/src/lib/ryp-subscription-api/api.ts
  example/demo-site/src/lib/types/Project.ts
  example/demo-site/src/pages/api/projects/index.ts
  example/demo-site/src/pages/projects/index.tsx
Due: gradle-build, core-subscription-docker

RYP-124 Fixing bug where deletion of linked accounts for some reason did not work any more
  core-subscription/src/main/kotlin/io/vibrantnet/ryp/core/subscription/persistence/Account.kt
  core-subscription/src/main/kotlin/io/vibrantnet/ryp/core/subscription/persistence/LinkedExternalAccountRepository.kt
  core-subscription/src/main/kotlin/io/vibrantnet/ryp/core/subscription/service/AccountsApiServiceVibrant.kt
  core-subscription/src/main/resources/schema-postgres.sql
  core-subscription/src/test/kotlin/io/vibrantnet/ryp/core/subscription/service/AccountsApiServiceVibrantTest.kt
Due: gradle-build, core-subscription-docker

RYP-105 Finalized initial Twilio integration
  core-api/src/main/kotlin/io/ryp/shared/model/MessageDto.kt
  core-publishing/src/main/kotlin/io/vibrantnet/ryp/core/publishing/service/AnnouncementsApiServiceVibrant.kt
  integrations/twilio/src/index.ts
Due: gradle-build, core-publishing-docker

RYP-34 Added initial SDK definitions for subscription API module
  docs/api/core-subscription-client-settings.json
  example/demo-site/src/lib/ryp-subscription-api/.gitignore
  example/demo-site/src/lib/ryp-subscription-api/.openapi-generator-ignore
  example/demo-site/src/lib/ryp-subscription-api/README.md
  example/demo-site/src/lib/ryp-subscription-api/package.json
  example/demo-site/src/lib/ryp-subscription-api/tsconfig.json
Due: none

RYP-109 Fixed missing environment variables for redirect docker files
  core-redirect/Dockerfile
Due: none

RYP-126 Fixed bug where app switcher would ruin mobile view
  example/demo-site/src/components/header/AppSwitcher.tsx
Due: none

RYP-126 Fixed bug where mobile menu would not respect login status and submenus in mobile drawer have
  example/demo-site/src/components/header/MobileDrawer.tsx
  example/demo-site/src/components/header/NavCollapse.tsx
Due: none

RYP-127 Limiting publishing pages to accounts tagged as such
  core-points/src/main/resources/application.properties
  example/demo-site/locales/en/common.json
  example/demo-site/public/access-denied.png
  example/demo-site/public/access-denied.webp
  example/demo-site/src/components/PublishingBeta.tsx
  example/demo-site/src/components/projects/NewProject.tsx
  example/demo-site/src/components/projects/ProjectCard.tsx
  example/demo-site/src/components/projects/ProjectsHomepage.tsx
  example/demo-site/src/components/projects/PublishAnnouncement.tsx
  example/demo-site/src/lib/core-points-api.ts
  example/demo-site/src/pages/publish/[projectid]/publish.tsx
  example/demo-site/src/pages/publish/index.tsx
  example/demo-site/src/pages/publish/new.tsx
Due: none

RYP-127 Added missing debug logging for creation of redirect URLs
  example/demo-site/src/pages/api/account/settings/referralurl.ts
Due: none

RYP-97 Adding logic to require at least one policy to be selected for NFT project publishing.
  example/demo-site/locales/en/publish.json
  example/demo-site/src/components/projects/PublishAnnouncementForm.tsx
Due: none

RYP-129 Fixed frontend bug where preview was not updated and content was no...
  example/demo-site/src/components/projects/PublishAnnouncementForm.tsx
Due: none

RYP-130 Added verification status filter to subscriptions UI
  example/demo-site/locales/en/projects.json
  example/demo-site/src/components/filters/FilterPopover.tsx
  example/demo-site/src/components/filters/VerifiedFilterPopover.tsx
  example/demo-site/src/components/filters/VerifiedPicker.tsx
  example/demo-site/src/components/filters/VerifiedPickerButton.tsx
  example/demo-site/src/components/subscriptions/SubscriptionsDashboard.tsx
  example/demo-site/src/components/subscriptions/SubscriptionsHeader.tsx
Due: none

RYP-131 Adding project details page
  example/demo-site/locales/en/common.json
  example/demo-site/locales/en/projects.json
  example/demo-site/package-lock.json
  example/demo-site/package.json
  example/demo-site/src/components/SignInToSubscribeButton.tsx
  example/demo-site/src/components/announcements/ViewAnnouncement.tsx
  example/demo-site/src/components/filters/VerifiedFilterPopover.tsx
  example/demo-site/src/components/projectcard/ProjectCard.tsx
  example/demo-site/src/components/projects/Carousel.tsx
  example/demo-site/src/components/projects/Gallery.tsx
  example/demo-site/src/components/projects/NewProject.tsx
  example/demo-site/src/components/projects/ProjectsHeader.tsx
  example/demo-site/src/components/projects/ProjectsHomepage.tsx
  example/demo-site/src/components/projects/PublishAnnouncement.tsx
  example/demo-site/src/components/subscriptions/CategoryCard.tsx
  example/demo-site/src/components/subscriptions/ProjectDetails.tsx
  example/demo-site/src/components/subscriptions/ProjectNotificationSettingsButton.tsx
  example/demo-site/src/components/subscriptions/ProjectPage.tsx
  example/demo-site/src/components/subscriptions/ProjectPolicies.tsx
  example/demo-site/src/components/subscriptions/SubscriptionStatusButton.tsx
  example/demo-site/src/components/subscriptions/SubscriptionsDashboard.tsx
  example/demo-site/src/components/subscriptions/SubscriptionsGridView.tsx
  example/demo-site/src/components/subscriptions/SubscriptionsHeader.tsx
  example/demo-site/src/components/subscriptions/SubscriptionsListView.tsx
  example/demo-site/src/components/subscriptions/types.ts
  example/demo-site/src/lib/api.ts
  example/demo-site/src/lib/dateutil.ts
  example/demo-site/src/lib/types/Project.ts
  example/demo-site/src/pages/api/account/subscriptions/[projectid].ts
  example/demo-site/src/pages/projects/[category].tsx
Due: none

RYP-100 Finalized footer for discord messages and consolidated link treatment across all integrations
  core-api/src/main/kotlin/io/ryp/shared/model/BasicAnnouncementDto.kt
  core-api/src/main/kotlin/io/ryp/shared/model/ShortenedUrlDto.kt
  core-publishing/src/main/kotlin/io/vibrantnet/ryp/core/publishing/CorePublishingConfiguration.kt
  core-publishing/src/main/kotlin/io/vibrantnet/ryp/core/publishing/configuration/WebClientConfig.kt
  core-publishing/src/main/kotlin/io/vibrantnet/ryp/core/publishing/persistence/Announcement.kt
  core-publishing/src/main/kotlin/io/vibrantnet/ryp/core/publishing/service/AnnouncementsApiServiceVibrant.kt
  core-publishing/src/main/kotlin/io/vibrantnet/ryp/core/publishing/service/RedirectService.kt
  core-publishing/src/main/kotlin/io/vibrantnet/ryp/core/publishing/service/RedirectServiceVibrant.kt
  core-publishing/src/main/resources/application.properties
  core-redirect/src/main/kotlin/io/vibrantnet/ryp/core/redirect/CoreRedirectConfiguration.kt
  core-redirect/src/main/kotlin/io/vibrantnet/ryp/core/redirect/controller/UrlsApiController.kt
  core-redirect/src/main/kotlin/io/vibrantnet/ryp/core/redirect/persistence/ShortenedUrl.kt
  core-redirect/src/main/kotlin/io/vibrantnet/ryp/core/redirect/service/RedirectApiServiceVibrant.kt
  core-redirect/src/main/kotlin/io/vibrantnet/ryp/core/redirect/service/UrlsApiService.kt
  core-redirect/src/main/kotlin/io/vibrantnet/ryp/core/redirect/service/UrlsApiServiceVibrant.kt
  core-redirect/src/main/resources/application.properties
  docs/api/core-publishing-service.yaml
  docs/api/core-redirect-service.yaml
  example/demo-site/locales/en/publish.json
  example/demo-site/src/components/announcements/ViewAnnouncement.tsx
  example/demo-site/src/components/projects/PublishAnnouncement.tsx
  example/demo-site/src/components/projects/PublishAnnouncementForm.tsx
  example/demo-site/src/lib/ryp-publishing-api/api.ts
  integrations/discord/src/index.ts
  integrations/twilio/package-lock.json
  integrations/twilio/package.json
  integrations/twilio/src/index.ts
  integrations/webpush/package-lock.json
  integrations/webpush/package.json
  integrations/webpush/src/index.ts
Due: gradle-build, core-publishing-docker, integration-discord-docker

Resolve RYP-132 "Feature/ create onboarding panel for new accounts"
  docs/api/common-schemas.yaml
  example/demo-site/locales/en/accounts.json
  example/demo-site/src/components/LinkedAccounts.tsx
  example/demo-site/src/components/account/FirstSteps.tsx
  example/demo-site/src/components/ui/List.tsx
  example/demo-site/src/components/ui/ListItem.tsx
  example/demo-site/src/lib/api.ts
  example/demo-site/src/lib/ryp-subscription-api/api.ts
  example/demo-site/src/lib/types/FirstSteps.ts
  example/demo-site/src/pages/api/account/projects/[projectid]/notifications.ts
  example/demo-site/src/pages/api/account/settings/firststeps.ts
Due: none

RYP-133 Simply renamed the AWS environment variables and gave them a CDN_ prefix
  example/demo-site/src/pages/api/account/settings/firststeps.ts
  example/demo-site/src/pages/api/projects/index.ts
Due: none
