Repository nilscodes/reach-your-people: changes, and which GitLab CI jobs are due for each by the changed paths.
All: gradle-build, core-verification-docker, core-subscription-docker, core-publishing-docker

Path conditions:
  gradle-build: any of: core-verification/**/*, core-subscription/**/*, core-publishing/**/*, build.gradle.kts, settings.gradle.kts, .gitlab-ci.yml
  core-verification-docker: any of: core-verification/**/*, build.gradle.kts, settings.gradle.kts, .gitlab-ci.yml
  core-subscription-docker: any of: core-subscription/**/*, build.gradle.kts, settings.gradle.kts, .gitlab-ci.yml
  core-publishing-docker: any of: core-publishing/**/*, build.gradle.kts, settings.gradle.kts, .gitlab-ci.yml

RYP-64 Adding sonar coverage reporting to the CI pipeline.
  .gitlab-ci.yml
  build.gradle.kts
Due: gradle-build, core-verification-docker, core-subscription-docker, core-publishing-docker

RYP-58 Added basic README for verification service
  core-verification/README.md
Due: gradle-build, core-verification-docker

RYP-48 Adding subscription service README
  core-subscription/README.md
Due: gradle-build, core-subscription-docker

RYP-67 Adding publishing service README
  core-publishing/README.md
Due: gradle-build, core-publishing-docker

RYP-10 CIP decision for RYP is recorded after research and meeting with current CIP editor
  docs/decisions/0004-cip-suggestion.md
Due: none

RYP-75 Added indexing solution ADR
  docs/decisions/0003-indexing-solution.md
Due: none

RYP-78 Fixed build issue with NextJS
  example/demo-site/src/app/api/auth/[...nextauth]/route.ts
Due: none

RYP-79 Added support for a verification service type of Blockfrost
  core-verification/build.gradle.kts
  core-verification/src/main/kotlin/io/vibrantnet/ryp/core/verification/CoreVerificationConfiguration.kt
  core-verification/src/main/kotlin/io/vibrantnet/ryp/core/verification/configuration/BlockfrostConfiguration.kt
  core-verification/src/main/kotlin/io/vibrantnet/ryp/core/verification/configuration/ConnectivityConfiguration.kt
  core-verification/src/main/kotlin/io/vibrantnet/ryp/core/verification/model/Blockfrost.kt
  core-verification/src/main/kotlin/io/vibrantnet/ryp/core/verification/model/Cip66Payload.kt
  core-verification/src/main/kotlin/io/vibrantnet/ryp/core/verification/persistence/Cip66Dao.kt
  core-verification/src/main/kotlin/io/vibrantnet/ryp/core/verification/persistence/Cip66DaoBlockfrost.kt
  core-verification/src/main/kotlin/io/vibrantnet/ryp/core/verification/persistence/Cip66DaoCardanoDbSync.kt
  core-verification/src/main/kotlin/io/vibrantnet/ryp/core/verification/service/CheckApiServiceVibrant.kt
  core-verification/src/main/resources/application.properties
  core-verification/src/test/kotlin/io/vibrantnet/ryp/core/verification/configuration/BlockfrostConfigurationTest.kt
  core-verification/src/test/kotlin/io/vibrantnet/ryp/core/verification/model/PartialBlockfrostAssetInfoTest.kt
  core-verification/src/test/kotlin/io/vibrantnet/ryp/core/verification/persistence/Cip66DaoBlockfrostTest.kt
  core-verification/src/test/kotlin/io/vibrantnet/ryp/core/verification/persistence/Cip66DaoCardanoDbSyncTest.kt
  core-verification/src/test/kotlin/io/vibrantnet/ryp/core/verification/service/CheckApiServiceVibrantTest.kt
Due: gradle-build, core-verification-docker

RYP-45 Skeleton for initial docker files created
  core-verification/Dockerfile
  docker-compose.dev.yml
  docker-compose.prod.yml
  docker-compose.yml
Due: gradle-build, core-verification-docker

RYP-80 Improved error handling for demo site and backend
  core-verification/src/main/kotlin/io/vibrantnet/ryp/core/verification/controller/ApiExceptionHandler.kt
  core-verification/src/main/kotlin/io/vibrantnet/ryp/core/verification/model/ApiExceptions.kt
  core-verification/src/main/kotlin/io/vibrantnet/ryp/core/verification/persistence/Cip66DaoBlockfrost.kt
  core-verification/src/main/kotlin/io/vibrantnet/ryp/core/verification/persistence/Cip66DaoCardanoDbSync.kt
  core-verification/src/test/kotlin/io/vibrantnet/ryp/core/verification/controller/ApiExceptionHandlerTest.kt
  core-verification/src/test/kotlin/io/vibrantnet/ryp/core/verification/persistence/Cip66DaoBlockfrostTest.kt
  core-verification/src/test/kotlin/io/vibrantnet/ryp/core/verification/persistence/Cip66DaoCardanoDbSyncTest.kt
  example/demo-site/src/app/test/page.tsx
Due: gradle-build, core-verification-docker

RYP-81 Added support for empty object in policy ID of CIP-0066 DIDs
  core-verification/src/main/kotlin/io/vibrantnet/ryp/core/verification/model/IamXDid.kt
  core-verification/src/test/kotlin/io/vibrantnet/ryp/core/verification/model/IamXDidTest.kt
Due: gradle-build, core-verification-docker

RYP-81 Improving coverage and fixing annoying site title
  core-verification/src/main/kotlin/io/vibrantnet/ryp/core/verification/model/IamXDid.kt
  example/demo-site/src/app/layout.tsx
Due: gradle-build, core-verification-docker

RYP-82 Fixed typos in ADR-0004 and reworded some items.
  docs/decisions/0004-cip-suggestion.md
Due: none

RYP-76 Added ADR related to the metadata standard used for publishing
  docs/decisions/0001-build-core-backend-services-in-kotlin-and-typescript.md
  docs/decisions/0005-announcement-metadata.md
Due: none

Resolve RYP-19 "Create sample website with wallet integration and authentication"
  core-subscription/src/main/kotlin/io/vibrantnet/ryp/core/subscription/controller/AccountsApiController.kt
  core-subscription/src/main/kotlin/io/vibrantnet/ryp/core/subscription/model/LinkedExternalAccountDto.kt
  core-subscription/src/test/kotlin/io/vibrantnet/ryp/core/subscription/controller/AccountsApiControllerIntegrationTest.kt
  core-subscription/src/test/kotlin/io/vibrantnet/ryp/core/subscription/controller/ExternalAccountsApiControllerIntegrationTest.kt
Due: gradle-build, core-subscription-docker

RYP-9 Finalized milestone 2 PoA information in the repository
  docs/catalyst/fund10-milestone-2.md
Due: none

RYP-16 Finalized milestone 3 PoA information in the repository
  docs/catalyst/fund10-milestone-1.md
  docs/catalyst/fund10-milestone-2.md
  docs/catalyst/fund10-milestone-3.md
Due: none

RYP-83 Added logging info to debug production failure of wallet verification process
  example/demo-site/src/auth.ts
  example/demo-site/src/lib/cardano.ts
  example/demo-site/src/pages/api/wallets/nonce.ts
  example/demo-site/src/pages/api/wallets/verify.ts
Due: none

RYP-85 Finalized backend for projects
  core-subscription/src/main/kotlin/io/vibrantnet/ryp/core/subscription/CoreSubscriptionApplication.kt
  core-subscription/src/main/kotlin/io/vibrantnet/ryp/core/subscription/controller/AccountsApiController.kt
  core-subscription/src/main/kotlin/io/vibrantnet/ryp/core/subscription/controller/ProjectsApiController.kt
  core-subscription/src/main/kotlin/io/vibrantnet/ryp/core/subscription/model/ProjectDto.kt
  core-subscription/src/main/kotlin/io/vibrantnet/ryp/core/subscription/persistence/Policy.kt
  core-subscription/src/main/kotlin/io/vibrantnet/ryp/core/subscription/persistence/Project.kt
  core-subscription/src/main/kotlin/io/vibrantnet/ryp/core/subscription/persistence/ProjectRepository.kt
  core-subscription/src/main/kotlin/io/vibrantnet/ryp/core/subscription/persistence/ProjectRoleAssignment.kt
  core-subscription/src/main/kotlin/io/vibrantnet/ryp/core/subscription/service/AccountsApiServiceVibrant.kt
  core-subscription/src/main/kotlin/io/vibrantnet/ryp/core/subscription/service/ProjectsApiService.kt
  core-subscription/src/main/kotlin/io/vibrantnet/ryp/core/subscription/service/ProjectsApiServiceVibrant.kt
  core-subscription/src/test/kotlin/io/vibrantnet/ryp/core/subscription/controller/AccountsApiControllerIntegrationTest.kt
  core-subscription/src/test/kotlin/io/vibrantnet/ryp/core/subscription/persistence/PolicyTest.kt
  core-subscription/src/test/kotlin/io/vibrantnet/ryp/core/subscription/persistence/ProjectRoleAssignmentTest.kt
  core-subscription/src/test/kotlin/io/vibrantnet/ryp/core/subscription/persistence/ProjectTest.kt
  docs/api/common-schemas.yaml
  docs/api/core-subscription-service.yaml
  example/demo-site/src/components/LinkedAccounts.tsx
  example/demo-site/src/components/projects/NFTConfiguration.tsx
  example/demo-site/src/components/projects/NewProject.tsx
  example/demo-site/src/components/projects/ProjectConfiguration.tsx
  example/demo-site/src/components/projects/ProjectGrid.tsx
  example/demo-site/src/components/projects/ProjectsHeader.tsx
  example/demo-site/src/components/projects/ProjectsHomepage.tsx
  example/demo-site/src/components/subscriptions/SubscriptionsDashboard.tsx
  example/demo-site/src/lib/api.ts
  example/demo-site/src/lib/ryp-api/api.ts
  example/demo-site/src/lib/types/Project.ts
  example/demo-site/src/pages/api/account/externalaccounts/[externalAccountId]/index.ts
  example/demo-site/src/pages/api/account/projects/index.ts
  example/demo-site/src/pages/api/projects/index.ts
Due: gradle-build, core-subscription-docker

RYP-90 Implemented initial explicit subscribing and unsubscribing from projects
  core-subscription/src/main/kotlin/io/vibrantnet/ryp/core/subscription/controller/AccountsApiController.kt
  core-subscription/src/main/kotlin/io/vibrantnet/ryp/core/subscription/model/SubscriptionDto.kt
  core-subscription/src/main/kotlin/io/vibrantnet/ryp/core/subscription/persistence/Account.kt
  core-subscription/src/main/kotlin/io/vibrantnet/ryp/core/subscription/persistence/Subscription.kt
  core-subscription/src/main/kotlin/io/vibrantnet/ryp/core/subscription/service/AccountsApiService.kt
  core-subscription/src/main/kotlin/io/vibrantnet/ryp/core/subscription/service/AccountsApiServiceVibrant.kt
  core-subscription/src/test/kotlin/io/vibrantnet/ryp/core/subscription/persistence/SubscriptionTest.kt
  core-subscription/src/test/kotlin/io/vibrantnet/ryp/core/subscription/service/AccountsApiServiceVibrantTest.kt
  docs/api/common-schemas.yaml
  docs/api/core-publishing-service.yaml
  docs/api/core-subscription-service.yaml
  example/demo-site/src/components/projectcard/CardHeader.tsx
  example/demo-site/src/components/projectcard/ProjectCard.tsx
  example/demo-site/src/components/subscriptions/SubscriptionActions.tsx
  example/demo-site/src/components/subscriptions/SubscriptionStatusButton.tsx
  example/demo-site/src/components/subscriptions/SubscriptionsDashboard.tsx
  example/demo-site/src/contexts/SubscriptionsProvider.tsx
  example/demo-site/src/lib/api.ts
  example/demo-site/src/lib/ryp-subscription-api/api.ts
  example/demo-site/src/pages/api/account/subscriptions/[projectid].ts
  example/demo-site/src/pages/api/account/subscriptions/index.ts
Due: gradle-build, core-subscription-docker

RYP-88 Added redis and rabbitmq support to allow sharing recipient lists on publishing
  core-api/src/main/kotlin/io/ryp/shared/model/AnnouncementRecipientDto.kt
  core-api/src/main/kotlin/io/ryp/shared/model/BasicAnnouncementDto.kt
  core-api/src/main/kotlin/io/ryp/shared/model/MessageDto.kt
  core-publishing/build.gradle.kts
  core-publishing/src/main/kotlin/io/vibrantnet/ryp/core/publishing/configuration/RabbitConfig.kt
  core-publishing/src/main/kotlin/io/vibrantnet/ryp/core/publishing/configuration/RedisConfig.kt
  core-publishing/src/main/kotlin/io/vibrantnet/ryp/core/publishing/configuration/WebClientConfig.kt
  core-publishing/src/main/kotlin/io/vibrantnet/ryp/core/publishing/controller/AnnouncementsApiController.kt
  core-publishing/src/main/kotlin/io/vibrantnet/ryp/core/publishing/service/AnnouncementsApiService.kt
  core-publishing/src/main/kotlin/io/vibrantnet/ryp/core/publishing/service/AnnouncementsApiServiceVibrant.kt
  core-publishing/src/main/resources/application.properties
  core-subscription/build.gradle.kts
  core-subscription/src/main/kotlin/io/vibrantnet/ryp/core/subscription/configuration/RabbitConfig.kt
  core-subscription/src/main/kotlin/io/vibrantnet/ryp/core/subscription/configuration/RedisConfig.kt
  core-subscription/src/main/kotlin/io/vibrantnet/ryp/core/subscription/persistence/AccountRepository.kt
  core-subscription/src/main/kotlin/io/vibrantnet/ryp/core/subscription/service/ProjectsApiService.kt
  core-subscription/src/main/kotlin/io/vibrantnet/ryp/core/subscription/service/SubscriptionServiceVibrant.kt
  core-subscription/src/main/resources/application.properties
  core-verification/build.gradle.kts
  core-verification/src/main/kotlin/io/vibrantnet/ryp/core/verification/configuration/RabbitConfig.kt
  core-verification/src/main/resources/application.properties
  docker-compose.dev.yml
  docker-compose.prod.yml
  docker-compose.yml
Due: gradle-build, core-verification-docker, core-subscription-docker, core-publishing-docker

RYP-89 Added a basic implementation of a discord-based publisher
  core-publishing/src/main/kotlin/io/vibrantnet/ryp/core/publishing/service/AnnouncementsApiServiceVibrant.kt
  docker-compose.dev.yml
  docker-compose.prod.yml
  integrations/discord/.gitignore
  integrations/discord/package-lock.json
  integrations/discord/package.json
  integrations/discord/src/index.ts
  integrations/discord/tsconfig.json
Due: gradle-build, core-publishing-docker

RYP-95 Added basic markdown support in preview during announcement creation
  example/demo-site/package-lock.json
  example/demo-site/package.json
  example/demo-site/src/components/projects/PublishAnnouncement.tsx
  example/demo-site/src/components/projects/PublishAnnouncementForm.tsx
Due: none

RYP-96 Subscription information on the frontend and during announcements is now using wallet information
  core-api/src/main/kotlin/io/ryp/shared/model/AnnouncementJobDto.kt
  core-api/src/main/kotlin/io/ryp/shared/model/SnapshotRequestDto.kt
  core-api/src/main/kotlin/io/ryp/shared/model/TokenOwnershipInfoWithAssetCount.kt
  core-publishing/src/main/kotlin/io/vibrantnet/ryp/core/publishing/service/AnnouncementsApiServiceVibrant.kt
  core-subscription/build.gradle.kts
  core-subscription/src/main/kotlin/io/vibrantnet/ryp/core/subscription/CoreSubscriptionApplication.kt
  core-subscription/src/main/kotlin/io/vibrantnet/ryp/core/subscription/CoreSubscriptionConfiguration.kt
  core-subscription/src/main/kotlin/io/vibrantnet/ryp/core/subscription/configuration/CacheConfig.kt
  core-subscription/src/main/kotlin/io/vibrantnet/ryp/core/subscription/configuration/RabbitConfig.kt
  core-subscription/src/main/kotlin/io/vibrantnet/ryp/core/subscription/configuration/WebClientConfig.kt
  core-subscription/src/main/kotlin/io/vibrantnet/ryp/core/subscription/model/SubscriptionDto.kt
  core-subscription/src/main/kotlin/io/vibrantnet/ryp/core/subscription/persistence/ExternalAccountCustomRepository.kt
  core-subscription/src/main/kotlin/io/vibrantnet/ryp/core/subscription/persistence/ProjectRepository.kt
  core-subscription/src/main/kotlin/io/vibrantnet/ryp/core/subscription/persistence/Subscription.kt
  core-subscription/src/main/kotlin/io/vibrantnet/ryp/core/subscription/service/AccountsApiServiceVibrant.kt
  core-subscription/src/main/kotlin/io/vibrantnet/ryp/core/subscription/service/SubscriptionServiceVibrant.kt
  core-subscription/src/main/kotlin/io/vibrantnet/ryp/core/subscription/service/VerifyService.kt
  core-subscription/src/main/kotlin/io/vibrantnet/ryp/core/subscription/service/VerifyServiceVibrant.kt
  core-subscription/src/main/resources/application.properties
  core-subscription/src/test/kotlin/io/vibrantnet/ryp/core/subscription/persistence/SubscriptionTest.kt
  core-subscription/src/test/kotlin/io/vibrantnet/ryp/core/subscription/service/AccountsApiServiceVibrantTest.kt
  core-verification/build.gradle.kts
  core-verification/src/main/kotlin/io/vibrantnet/ryp/core/verification/configuration/RabbitConfig.kt
  core-verification/src/main/kotlin/io/vibrantnet/ryp/core/verification/configuration/RedisConfig.kt
  core-verification/src/main/kotlin/io/vibrantnet/ryp/core/verification/controller/StakeApiController.kt
  core-verification/src/main/kotlin/io/vibrantnet/ryp/core/verification/persistence/TokenDao.kt
  core-verification/src/main/kotlin/io/vibrantnet/ryp/core/verification/persistence/TokenDaoCardanoDbSync.kt
  core-verification/src/main/kotlin/io/vibrantnet/ryp/core/verification/service/SnapshotServiceVibrant.kt
  core-verification/src/main/kotlin/io/vibrantnet/ryp/core/verification/service/StakeApiService.kt
  core-verification/src/main/kotlin/io/vibrantnet/ryp/core/verification/service/StakeApiServiceVibrant.kt
  docs/api/core-subscription-service.yaml
  docs/api/core-verification-service.yaml
  example/demo-site/src/components/subscriptions/SubscriptionsDashboard.tsx
  example/demo-site/src/lib/api.ts
  example/demo-site/src/pages/api/account/subscriptions/[projectid].ts
Due: gradle-build, core-verification-docker, core-subscription-docker, core-publishing-docker

RYP-96 Finalizing communication between services for docker layer
  core-publishing/Dockerfile
  core-subscription/Dockerfile
  core-verification/Dockerfile
  docker-compose.dev.yml
  docker-compose.prod.yml
Due: gradle-build, core-verification-docker, core-subscription-docker, core-publishing-docker

RYP-83 Replacing node-cache in memory storage with redis connector
  example/demo-site/package-lock.json
  example/demo-site/package.json
  example/demo-site/src/lib/cardano.ts
  example/demo-site/src/lib/nonce-cache.ts
  example/demo-site/src/pages/api/wallets/nonce.ts
  example/demo-site/src/pages/api/wallets/verify.ts
Due: none

RYP-83 Fixing remaining connection variables to sensible production defaults
  core-publishing/src/main/resources/application.properties
  core-subscription/src/main/resources/application.properties
  core-verification/src/main/resources/application.properties
Due: gradle-build, core-verification-docker, core-subscription-docker, core-publishing-docker

RYP-83 Removing explicit redis connection factory
  core-publishing/src/main/kotlin/io/vibrantnet/ryp/core/publishing/configuration/RedisConfig.kt
  core-subscription/src/main/kotlin/io/vibrantnet/ryp/core/subscription/configuration/RedisConfig.kt
  core-verification/src/main/kotlin/io/vibrantnet/ryp/core/verification/configuration/RedisConfig.kt
Due: gradle-build, core-verification-docker, core-subscription-docker, core-publishing-docker

RYP-89 Added missing definitions to build the first integration and Dockerize it
  .gitlab-ci.yml
  README.md
  docker-compose.dev.yml
  docker-compose.prod.yml
  docker-compose.yml
  integrations/discord/Dockerfile
  integrations/discord/tsconfig.json
Due: gradle-build, core-verification-docker, core-subscription-docker, core-publishing-docker

RYP-20 Added finalized document for milestone 4 to have two-way documentation in addition to the milestone module
  docs/catalyst/fund10-milestone-1.md
  docs/catalyst/fund10-milestone-2.md
  docs/catalyst/fund10-milestone-4.md
Due: none

RYP-104 Twilio base integration
  core-publishing/src/main/kotlin/io/vibrantnet/ryp/core/publishing/configuration/RabbitConfig.kt
  example/demo-site/src/components/LinkedAccount.tsx
  example/demo-site/src/components/LinkedAccounts.tsx
  example/demo-site/src/components/ProviderIcons.tsx
  example/demo-site/src/components/phone/PhoneNumberInput.tsx
  example/demo-site/src/components/phone/PhoneVerification.tsx
  example/demo-site/src/components/phone/VerificationCodeInput.tsx
  example/demo-site/src/lib/api.ts
  example/demo-site/src/lib/phone-verify-api.ts
  example/demo-site/src/pages/api/account/externalaccounts/index.ts
  example/demo-site/src/pages/api/account/phone/start.ts
  example/demo-site/src/pages/api/account/phone/verify.ts
  integrations/discord/src/index.ts
  integrations/twilio/.gitignore
  integrations/twilio/Dockerfile
  integrations/twilio/package-lock.json
  integrations/twilio/package.json
  integrations/twilio/src/index.ts
  integrations/twilio/tsconfig.json
Due: gradle-build, core-publishing-docker

RYP-32 Documented second messaging integration with Twilio/SMS
  docs/decisions/0006-second-messaging-integration-twilio.md
Due: none

RYP-94 Enabled persistence layer via Postgres
  .gitignore
  core-subscription/Dockerfile
  core-subscription/build.gradle.kts
  core-subscription/src/main/kotlin/io/vibrantnet/ryp/core/subscription/persistence/LinkedExternalAccount.kt
  core-subscription/src/main/kotlin/io/vibrantnet/ryp/core/subscription/persistence/Policy.kt
  core-subscription/src/main/resources/application.properties
  core-subscription/src/main/resources/schema-postgres.sql
  docker-compose.dev.yml
  docker-compose.prod.yml
  docker-compose.yml
  example/demo-site/locales/en/common.json
  example/demo-site/src/components/projectcard/ProjectCard.tsx
  example/demo-site/src/components/projects/NFTConfiguration.tsx
  example/demo-site/src/components/subscriptions/CategoryCard.tsx
Due: gradle-build, core-subscription-docker
